---
---

// start content

.bg-alt1 {
  background-color: #9E3B1C;
}

.bg-alt2 {
  background-color: #9E3B1C;
}

.bg-alt3 {
  background-color: #9E3B1C;
}

.text-alt1 {
  color: #1D809F !important;
}

.text-alt2 {
  color: #1D809F !important;
}

.text-alt3 {
  color: #1D809F !important;
}
